<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <title>Video Game Review Analysis</title>
    </head>
    <body>
        <h1 style="text-align:center;">Analysis for:</h1>
        <h3 style="text-align:center;">{{source}}</h3>
        
        <div>
            Positive Percentage:
            {{data['pos_percentage']}}
        </div>
        <div>
            Negative Percentage:
            {{data['neg_percentage']}}
        </div>
        <div>
            Positive Samples:
            <ul>
                {% for item in data['pos_samples'] %}
                <li>{{item}}</li>
                {% endfor %}
            </ul>
        </div>
        <div>
            Negative Samples:
            <ul>
                {% for item in data['neg_samples'] %}
                <li>{{item}}</li>
                {% endfor %}
            </ul>
        </div>
    </body>
</html>
